/*
* nav.css
*/
.sk-nav{
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.sk-nav .navbar-toggler:hover,
.sk-nav .navbar-toggler:focus,
.sk-nav .navbar-toggler:active{
	outline:none;
	box-shadow:2px 2px 5px rgba(0,0,0,0.2);
}
.navbar-brand img{height:45px;}

